<h1 class="d-flex justify-content-center my-4">Your Bookings</h1>
<div class="d-flex justify-content-center my-3">

<% @bookings.each do |booking| %>
  <div class="card">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://medicaldialogues.in/h-upload/2020/10/31/141669-booked.jpg)">


  <div class="card-product-infos">

  </div>
</div>

    <p class="card-text">Host: <%= booking.bathroom.host.email %></p>
    <p class="card-text"><%= booking.start_date_time %> to <%= booking.end_date_time %></p>
    <a class="btn btn-gradient"<%= link_to 'See Details', booking_path(booking) %>

<% end %>
