
<div class="container">
  <%= simple_form_for([@bathroom, @booking]) do |f|%>
    <div class="col-xs-2">
      <%= f.input :start_date_time, html5: true %>
    </div>
    <%= f.input :end_date_time, html5: true %>
    <%= f.button :submit %>
  <% end %>
</div>
