<%# Banner %>
<div id="landing-page-banner">
  <div id="banner-container">
    <h1 id="title">Airpnp makes bathroom breaks easier</h1>
    <p id="description">Find the perfect bathroom, and take that break you were waiting for!</p>
    <%= link_to 'Relieve Yourself', bathrooms_path, id: 'banner-btn' %>
  </div>
</div>

<%# How it works %>
<div id="landing-cards-container">
  <h2>How It Works?</h2>
  <div id="landing-page-cards">
    <div class="landing-page-card">
      <%= image_tag "toilet-icon.png", class: 'landing-icons' %>
      <h3>Browse Bathrooms</h3>
      <p>Select from a huge selection of bathrooms</p>
    </div>
    <div class="landing-page-card">
      <%= image_tag "person-icon.png", class: 'landing-icons' %>
      <h3>Make a Request</h3>
      <p>Connect with amazing hosts</p>
    </div>
    <div class="landing-page-card">
      <%= image_tag "poop-icon.png", class: 'landing-icons' %>
      <h3>Take a shit!</h3>
      <p>It's easy as that</p>
    </div>
  </div>
</div>

    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">About Us</a></li>
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Reserve your bathroom</a></li>
                <li class="list-inline-item"><a href="#">User Account</a></li>
            </ul>
            <p class="copyright">@2022 Airpnp, inc</p>
        </footer>
    </div>
