.navbar-lewagon {
  justify-content: space-between;
  background: #ECC2CC;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.navbar-white {
  justify-content: space-between;
  background: #ffffff;
  box-shadow:2px 5px 5px #ECC2CC;
}

.navbar {
  position: sticky;
  top: 0;
}
