.packet {
  width: 33%;
background-color: white;
  box-shadow: 1px 2px 10px #ECC2CC;
}

.packet h2 {
  background-color: #ECC2CC ;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  color: white;
  margin: 0;
}
